body
{
    background-color: rgb(40, 40, 40);

    margin: 0px;

    color: rgb(255, 255, 255);
    font-family: "sans-serif", "consolas";
    font-size: 20px;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

hr
{
    margin-left: 5%;
    margin-right: 5%;

    box-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
p
{
    color: white;
    text-decoration: none;
}
#Title
{
    font-weight: bold;
    font-size: 60px;
}

#Logo
{
    margin-top: 2vh;
    width: 7vw;
    height: 7vh;
    object-fit:contain;
}

div.Grid
{
    display: grid;
    grid-template-columns: 7% 7% 7%;
    gap: 1vw;

    width: 98%;
    height: fit-content;

    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;

    align-items: center;
    justify-items: center;
    place-content: center;
}
div.UpperMenu
{
    display: grid;
    grid-template-columns: 5vw 5vw 5vw;
    gap: 5vw;
    padding: .2%;
    align-items: center;
    justify-items: center;
    place-content: center;

    position: sticky;

    background-color: rgb(0, 0, 0);
    height: fit-content;
    width: auto;

    border-bottom: 1px solid;
    border-color: white;

    font-family: "sans-serif", "consolas";
    font-size: 2vw;
    text-align: center;
    align-content: center;
}
a.MenuButtons
{
    padding: 4% 4%;
    border: 0px outset buttonborder;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}
